* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f3f7d9;
    color: #333;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 50px;
    margin-right: 10px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a.active {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}

nav a:hover {
    color: #666;
}

.profile-icon {
    font-size: 24px;
}

main {
    display: flex;
    padding: 20px 40px;
    justify-content: space-around;
    gap: 20px;
}

.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.sidebar p {
    margin: 10px 0;
    font-size: 14px;
    color: #666;
}

.sidebar .image-box img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.sidebar button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.sidebar button:hover {
    background-color: #555;
}

.center {
    flex: 1;
    text-align: center;
    padding: 0 20px;
}

.center h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
}

.center .image-box img {
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer Styling */
footer {
    background-color: #f3f7d9;
    color: #333;
    padding: 40px 20px;
    margin-top: 40px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}

.footer-section p,
.footer-section ul,
.footer-section li,
.footer-section a {
    color: #545353;
    font-size: 14px;
    text-decoration: none;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section a:hover {
    color: #4726be;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #666;
    padding-top: 20px;
}

.footer-bottom p {
    font-size: 12px;
    color: #b2b2b2;
}